:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 600px;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

textarea {
    resize: vertical;
    min-height: 3rem;
}

button {
    border-radius: 0.5rem;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    border: 3px solid #0a0a0a;
    transition: background-color 0.2s, border-color 0.25s, transform 0.2s;
}

button:hover {
    transform: scale(1.05);
    background-color: #333333;
}

button.primary {
    background-color: #116315;
}

button.secondary {
    background-color: #7b8121;
}

button.tertiary {
    background-color: #8b1313;
}

button.primary:hover {
    border-color: #646cff;
    background-color: #1f5014;
}

button.secondary:hover {
    border-color: #646cff;
    background-color: #373a11;
}

button.tertiary:hover {
    border-color: #646cff;
    background-color: #501111;
}

button:active {
    transform: scale(0.8);
}

.error-message {
    color: red;
    font-size: 0.9rem;
}

.info-message {
    color: yellow;
    font-size: 0.9rem;
}

.success-message {
    color: green;
    font-size: 0.9rem;
}