:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

textarea {
    resize: vertical;
    min-height: 3rem;
}

button.primary {
    border-radius: 0.5rem;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid #0a0a0a;
    background-color: #413f3f;
    transition: background-color 0.2s, border-color 0.25s, transform 0.2s;
}

button.secondary {
    border-radius: 0.5rem;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid #0a0a0a;
    background-color: #8b1313;
    transition: background-color 0.2s, border-color 0.25s, transform 0.2s;
}

button:hover {
    border-color: #646cff;
    background-color: #163a0e;
}

button.secondary:hover {
    border-color: #646cff;
    background-color: #550e0e;
}

button:active {
    transform: scale(0.8);
}