.quest-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 3px solid #0a0a0a;
    border-radius: 0.5rem;
    background-color: #413f3f;
    transition: transform 0.25s, background-color 0.25s;
}

.quest-card:hover {
    transform: scale(1.01);
    background-color: #163a0e;
}


.quest-card-expanded {
    transform: scale(1.01);
    background-color: #236b14;
}

.quest-card:focus {
    background-color: #236b14;
}

.quest-header {
    display: flex;
    justify-content: space-between;
}

.quest-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.quest-status {
    font-size: 0.85rem;
    font-weight: 400;
    font-style: italic;
}

.quest-status--planned {
    color: gray;
}

.quest-status--inprogress {
    color: orange;
}

.quest-status--completed {
    color: green;
}

.quest-description {
    font-weight: 200;
}

.quest-description-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-in;
}

.quest-description-container.expanded {
    max-height: 200px;
    opacity: 1;
}