.quest-card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0.5rem;
    border: 3px solid #333030;
    border-radius: 0.5rem;
    background-color: #413f3f;
    transition: transform 0.25s, background-color 0.25s;
}

.quest-card--planned {
    border: 3px solid #1a1818;
    background-color: #474e53
}

.quest-card--inprogress {
    border: 3px solid #1a1818;
    background-color: #586b25;
    color: #ccf166;
}

.quest-card--completed {
    border: 3px solid #1a1818;
    background-color: #07330b;
    color: #749b74;
}

.quest-card-expanded {
    transform: scale(1.01);
    border: 3px solid #bcc5c5;
}

.quest-header {
    display: flex;
    justify-content: space-between;
}

.quest-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.quest-description {

    font-weight: 400;
    overflow-wrap: anywhere;
    word-break: break-all;
    white-space: normal;
}

.quest-description-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-in;
    min-width: 0;
    width: 100%;
}

.quest-description-container.expanded {
    max-height: 200px;
    opacity: 1;
}

.quest-status {
    font-size: 0.85rem;
    font-weight: 600;
    font-style: italic;
}

.quest-status--planned {
    color: #909faa
}

.quest-status--inprogress {
    color: #afeb0b
}

.quest-status--completed {
    color: #32b13c;
}

.quest-format-button-container {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.quest-card-expand-button {
    padding: 0.6em;
    border-radius: 0.3;
    font-size: 0.9rem;
    border: 2px solid #0a0a0a;
}